:root {
  --color-primary: #FF6060;
  --color-card-bg: #FF6B5B;
  --color-bg-light: #F6F6F6;
  --color-star-inactive: #E3E3E3;
  --color-black: #000000;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}